//   Навігація меню

.menu-nav {
    display: flex;
}

.menu-nav__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.menu-nav__list {
    color: $title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    @include transition(color);

    &:hover,
    &:focus {
        color: $accent-color;
    }

}

.menu-nav__list--active {
    position: relative;

    padding-bottom: 32px;
    color: $accent-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

}


.menu-nav__list--active::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    background: $accent-color;
    border-radius: 2px;
}